<!doctype html>
<html lang="en">

<head>
    <title>Our Teacher</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <link rel="stylesheet" href="../../assets/css/main.css">
</head>

<body>
    <header id="header">
        <div class="header-responsive">
            <div class="content" id="menuBars">
                <div id="menuBars-content" class="fa fa-bars"></div>
                <a class="logo" href="index.html"><img src="../../assets/img/crest.png"></a>
            </div>
        </div>
        <div class="port" id="port">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="index.html"><img src="../../assets/img/crest.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item  active">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Elements</a>
                        </li>

                    </ul>
                </div>
                <div class="topBarMenu">
                    <div class="btnWidget">
                        <a href="#" class="btn btnWidgetLink">
                            <span><i class="fa fa-phone"></i></span>
                            <span class="btnWidgetText">(+1) 555 234-8765</span>
                        </a>
                    </div>
                    <div class="icon">
                        <a class="iconMedia" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="iconMedia" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="iconMedia" href="#"><i class="fab fa-youtube"></i></a>
                        <a class="iconMedia" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <section class="contentWrap">
        <div class="top_image">
            <img src="../../assets/img/yellow_top_wave_01.png">
        </div>
        <div class="content">
            <div class="container">

                <div class="contentText">
                    <h1>
                        <span class="contentText__heading">ABOUT US</span>
                        <span class="contentText__paragraph">The language teaching experts</span>

                    </h1>
                </div>
                <div class="contentImg">
                    <img src="../../assets/img/team.png" alt="">
                </div>
            </div>
        </div>
        <div class="bot_image">
            <img src="../../assets/img/Violet_top_left_wave.png" alt="">
        </div>

    </section>

    <section class="listTeacher">
        <div class="whiteWaveBg">
            <img src="../../assets/img/Wave_White_bottom_right_shape_01.png" alt="">
        </div>
        <div class="container">
            <div class="row" id="teacherList">
               

            </div>
        </div>


    </section>

    <section class="findCourse">
        <div class="container">
            <div class="image">
                <img src="../../assets/img/conatct_inner.png" alt="">
            </div>
            <div class="form">
                <form action="">
                    <span>Find Your Course</span>
                    <div class="divInput">

                        <div class="inputName">
                            <i class="far fa-user-circle inputIcon"></i>
                            <input class="formInput" type="text" placeholder="Name">
                        </div>
                        <div class="inputEmail">
                            <i class="far fa-envelope inputIcon"></i>
                            <input class="formInput" type="text" placeholder="Email">
                        </div>
                    </div>
                    <div class="course">
                        <i class="fa fa-graduation-cap inputIcon"></i>
                        <select class="formInput" name="">
                            <option value="English">English</option>
                            <option value="French">French</option>
                            <option value="Spanish">Spanish</option>
                            <option value="German">German</option>
                        </select>
                    </div>
                    <div class="message">
                        <i class="far fa-comment-alt "></i>
                        <textarea class="formInput" name="" cols="1" rows="4" placeholder="Message"></textarea>
                    </div>
                    <button class="btn">SEND</button>
                </form>
            </div>
        </div>
        <div class="purpleWaveBg">
            <img src="../../assets/img/accent_bottom_wave_01.png" alt="">
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <h2>Contact us</h2>
                    <div class="address">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>Franklin St, Greenpoint Ave</span>
                    </div>
                    <div class="phone">
                        <i class="fa fa-phone"></i>
                        <span>+2342 5446 67</span>
                    </div>
                    <div class="timeOpen">
                        <i class="fa fa-clock"></i>
                        <span>Monday - Friday: 8 AM - 5 PM</span>
                    </div>
                    <div class="mediaSocial">
                        <a class="iconMedia" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="iconMedia" href="#"><i class="fab fa-instagram"></i></a>
                        <a class="iconMedia" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="iconMedia" href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <div class="col-3">
                    <h2>Quick Links</h2>
                    <div class="link">
                        <a href="#">Home</a>
                    </div>
                    <div class="link">
                        <a href="#">Courses</a>
                    </div>
                    <div class="link">
                        <a href="#">Schedule</a>
                    </div>
                    <div class="link">
                        <a href="#">Blog</a>
                    </div>
                </div>
                <div class="col-3">
                    <h2>About</h2>
                    <div class="link">
                        <a href="#">About Us</a>
                    </div>
                    <div class="link">
                        <a href="#">Events</a>
                    </div>
                    <div class="link">
                        <a href="#">Get Quote</a>
                    </div>
                    <div class="link">
                        <a href="#">Contact</a>
                    </div>
                </div>
                <div class="col-3">
                    <h2>Newsletter</h2>
                    <div class="inputEmail">
                        <input class="formInput" type="text" placeholder="Your Email">
                    </div>
                    <div class="divButton">
                        <button class="btn-subscribe">SUBSCRIBE</button>
                    </div>

                </div>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="../../assets/js/index.js"></script>
    <script src="../controllers/main.js" type="module"></script>
</body>

</html>